@page
@model BirdCageShopRazorPage.Pages.Cage.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="px-4">
    <h1>Details</h1>

    <h4>Cage</h4>
    <hr />
</div>
<div class="row px-4 py-1">
    <div class="col-6">
        <div>
            <dl class="row">
                <dt class="col-2">
                    <label>Preview Image</label>
                    @* @Html.DisplayNameFor(model => model.Cage.ImageUrl) *@
                </dt>
                <dd class="col-9">
                    @* @Html.DisplayFor(model => model.Cage.ImageUrl) *@
                    @if (Model.Cage.ImageUrl != null)
                    {
                        <img id="previewImage" src="@Model.Cage.ImageUrl"
                             alt="Image Preview"
                             style="height: 95%; width: 80%;">
                    }
                    else
                    {
                        <img id="previewImage" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                             alt="Image Preview"
                             style="height: 95%; width: 80%;">
                    }
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.CageName)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.CageName)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.Status)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.Status)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.CagePrice)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.CagePrice)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.Height)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.Height)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.Radius)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.Radius)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.CageWeight)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.CageWeight)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.Description)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.Description)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Cage.UserId)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cage.UserId)
                </dd>
                <dt class="col-2 mt-2">
                    @Html.DisplayNameFor(model => model.Cage.Category)
                </dt>
                <dd class="col-9 mt-2">
                    @Html.DisplayFor(model => model.Cage.Category.CategoryName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-6">
        <h4>Danh sách thành phần</h4>
        <table class="table col-12">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Material
            </th>
            <th>
                Color
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model.Cage.CageComponents){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Component.ComponentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Component.ComponentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="/CageComponent/Edit" asp-route-id="@item.CageComponentId"><i class="fa fa-edit" style="font-size: 24px;"></i></a>
                <a asp-page="/CageComponent/Delete" asp-route-id="@item.CageComponentId"><i class="fa fa-trash" style="font-size: 24px;"></i></a>
            </td>
        </tr>
        }
     <tbody>
    </table>
    </div>
</div>
<div class="mt-4">
        @if (new string("Available").Equals(Model.Cage.Status))
        {
            <a asp-page="./MakeOrder" asp-route-id="@Model.Cage.CageId" class="btn btn-secondary">Đặt hàng</a>
        }
    <a asp-page="./Edit" asp-route-id="@Model.Cage?.CageId" class="btn btn-warning pt-2 ms-3">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
