@page
@model BirdCageShopRazorPage.Pages.Cage.EditModel

@{
    ViewData["Title"] = "Edit";

    //Dictionary<string,int> maximum = new Dictionary<string, int>();
    //maximum.Add("Đáy", 2);
    //maximum.Add("Trụ", 2);
    //maximum.Add("Móc", 1);
    //maximum.Add("Cửa", 2);
    //maximum.Add("Nan", 50);
    //maximum.Add("0", 0);
}

<div class="px-3">
    <h1>Edit</h1>

    <h4>Cage</h4>
    <hr />
</div>
<div class="px-3" style="width: 80%; margin: 0; padding: 32px;">
    <form method="post" class="row">
        <div class="col-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cage.CageId" />
            <div class="form-group">
                
                <div class="col-12 mt-2">
                    @if(Model.Cage.ImageUrl != null)
                    {
                        <img id="previewImage" src="@Model.Cage.ImageUrl"
                             alt="Image Preview"
                        class="img-fluid w-100 h-100">
                    }
                    else
                    {
                        <img id="previewImage" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                             alt="Image Preview"
                             class="img-fluid w-100 h-100">
                    }
                </div>
                <span asp-validation-for="Cage.ImageUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="col-8">
            <div>
                <h2>Cage Info</h2>
                <div class="form-group">
                    <label asp-for="Cage.ImageUrl" class="control-label">Preview Image</label>
                    <input asp-for="Cage.ImageUrl" class="form-control" type="file" id="imageInput" accept="image/*" />
                </div>
                <div class="form-group">
                    <label asp-for="Cage.CageName" class="control-label"></label>
                    <input asp-for="Cage.CageName" class="form-control" />
                    <span asp-validation-for="Cage.CageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.Status" class="control-label"></label>
                    <input asp-for="Cage.Status" class="form-control" />
                    <span asp-validation-for="Cage.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.CagePrice" class="control-label"></label>
                    <input asp-for="Cage.CagePrice" class="form-control" />
                    <span asp-validation-for="Cage.CagePrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.Height" class="control-label"></label>
                    <input asp-for="Cage.Height" class="form-control" />
                    <span asp-validation-for="Cage.Height" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.Radius" class="control-label"></label>
                    <input asp-for="Cage.Radius" class="form-control" />
                    <span asp-validation-for="Cage.Radius" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.CageWeight" class="control-label"></label>
                    <input asp-for="Cage.CageWeight" class="form-control" />
                    <span asp-validation-for="Cage.CageWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.Description" class="control-label"></label>
                    <input asp-for="Cage.Description" class="form-control" />
                    <span asp-validation-for="Cage.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.UserId" class="control-label"></label>
                    <input asp-for="Cage.UserId" class="form-control" />
                    <span asp-validation-for="Cage.UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage.CategoryId" class="control-label"></label>
                    <select asp-for="Cage.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="Cage.CategoryId" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group">
            <h2>List of Components</h2>
            <div class="row">
                <div class="col-md-2">
                    Name
                </div>
                <div class="col-md-2">
                    Color
                </div>
                <div class="col-md-2">
                    Material
                </div>
                <div class="col-md-2">
                    Quantity
                </div>
                <div class="col-md-2">
                    Price Per Unit
                </div>
                <div class="col-md-2">
                    Total Price
                </div>
            </div>
            @for (int i = 0; i < Model.CageComponents.Count; i++)
            {
                <input type="hidden" asp-for="CageComponents[i].ComponentId" />
                <input type="hidden" asp-for="CageComponents[i].CageId" />
                <input type="hidden" asp-for="CageComponents[i].CageComponentId" />
                <div class="card mt-2">
                    <div class="card-body row">
                        <div class="col-md-2">
                            <label> @(Model.CageComponents[i].Component?.ComponentName ?? "Undefined") </label>
                        </div>
                        <div class="col-md-2">
                                <input asp-for="CageComponents[i].Color" class="ps-2" style="width: 100%" />
                        </div>
                        <div class="col-md-2">
                                <input asp-for="CageComponents[i].Material" class="ps-2" style="width: 100%" />
                        </div>
                        <div class="col-md-2">
                            <input class="quantity ps-2" type="number" asp-for="CageComponents[i].Quantity" oninput="updateToTalPrice(this)" 
                            min="@Model.CageComponents[i].Component?.QuantityRequired ?? 1"
                            style="width: 100%"/>
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" class="price" value="@(Model.CageComponents[i].Component?.ComponentPrice ?? 0)" readonly />
                            <label>@(Model.CageComponents[i].Component?.ComponentPrice ?? 0) VNĐ</label>
                        </div>
                        <div class="col-md-2">
                                <input class="totalPrice ps-2" asp-for="CageComponents[i].Price" readonly style="width: 100%" />
                        </div>
                    </div>
                </div>
            }
        </div>
        </div>

        <div class="form-group py-4 text-center">
            <input type="submit" value="Save" class="btn btn-success"/>
            <a asp-page="./Index" class="btn btn-primary">Back to List</a>
        </div>
    </form>
</div>

<script>
    const imageInput = document.getElementById('imageInput');
    const previewImage = document.getElementById('previewImage');

    imageInput.onchange = evt => {
        const [file] = imageInput.files
        if (file) {
            previewImage.src = URL.createObjectURL(file)
        }
    }

    function updateToTalPrice(input) {
        var quantity = input.value;
        var price = input.parentElement.nextElementSibling.children[0].value;
        var totalPrice = input.parentElement.nextElementSibling.nextElementSibling.children[0];

        totalPrice.value = price * quantity;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
