@page
@model BirdCageShopRazorPage.Pages.Component.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (TempData["comp-notification"] != null)
{
    <div id="toast-container" class="toast-container position-fixed top-2 end-0 p-3">
        <div class="toast position-relative" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Notification</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <text class="text-info">@TempData["comp-notification"]</text>
            </div>
        </div>
    </div>

    <style>
        .toast {
            position: relative;
        }
            .toast .close {
                position: absolute;
                top: 0;
                right: 0.5rem;
                margin: 0.25rem;
                border: none;
                background: none;
            }
    </style>

    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
        $('.close').click(function () {
            $('.toast').toast('hide');
        });
        setTimeout(function () {
            $('.toast').toast('hide');
        }, 10000);
    </script>
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
    <h2 class="text-center display-4 fw-bold">Component List</h2>
    <a class="btn btn-primary mx-3" asp-page="Create">Create</a>
</div>
<table class="table table-striped mx-3 mt-4 border rounded-circle" style="width: 98%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].ComponentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Required)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].QuantityRequired)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Component) {
        <tr class="align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.ComponentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Required)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityRequired)
            </td>
            <td>
                    <a class="btn btn-sm btn-outline-warning" asp-page="./Edit" asp-route-id="@item.ComponentId">
                        <i class="fa fa-edit mt-1 ml-1" style="font-size: 24px;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
