@page
@model BirdCageShopRazorPage.Pages.CageComponent.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CageComponent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CageComponent.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CageComponent.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CageComponent.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CageComponent.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CageComponent.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CageComponent.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CageComponent.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CageComponent.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CageComponent.Component)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CageComponent.Component.ComponentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CageComponent?.CageComponentId" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
