@page
@model BirdCageShopRazorPage.Pages.CageComponent.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1>List Component</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Component)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CageComponent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Component.ComponentId)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.CageComponentId"><i class="fa fa-edit" style="font-size: 24px;"></i></a>
                    <a asp-page="./Details" asp-route-id="@item.CageComponentId"><i class="fa fa-info" style="font-size: 24px;"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.CageComponentId"><i class="fa fa-trash" style="font-size: 24px;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
