@page
@model BirdCageShopRazorPage.Pages.CageComponent.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageComponent[0].Component)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CageComponent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Component.ComponentId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CageComponentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CageComponentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CageComponentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
