@page
@model BirdCageShopRazorPage.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@{
if (TempData["user-notification"] != null)
    {
        <div class="alert alert-warning" >
            @TempData["user-notification"]
        </div>
    }
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AvatarUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AvatarUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Status)
        </dt>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.User?.UserId">Edit</a>
    <a class="btn btn-primary" asp-page="../Index">Back</a>
</div>
