@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int count = 1;
}

<section class="hero">
    <div class="hero_content">
        <h2>High-Quality Bird Cages for Your Feathered Friends</h2>
        <span>Our Bird cage is made from selected and best quality materials that are suitable for your bird home</span>
        <button><a style="color: white; text-decoration: none" asp-page="/Cage/Index">Shop now</a></button>
    </div>
    <div class="hero_img">
        <img src="https://inoxthaian.vn/wp-content/uploads/2019/12/long-chim-mai-chua-1-500x333.jpg" alt="img_hero" />
        @* <img src="https://toplist.vn/images/800px/chim-son-ca-96965.jpg" alt="img_hero" /> *@
        <div class="hero_pricing">
            <h4>Lồng chim hiện đại</h4>
            <span>Model: Mô hình tháp</span>

            <p>126.000 đ</p>
        </div>
    </div>
</section>

<section class="service">
    @* <h2>Quality-Centric Services</h2> *@

    <div class="service_item_container">
        <div class="service_item">
            <i class="fa-regular fa-circle-check"></i>
            <h3>Quality Products</h3>
            <span>Crafted with care for your birds' comfort and safety</span>
        </div>
        <div class="service_item">
            <i class="fa-solid fa-wind"></i>
            <h3>Fast Delivery</h3>
            <span>Swift shipping for bird lovers on the fly</span>
        </div>
        <div class="service_item">
            <i class="fa-solid fa-check-double"></i>
            <h3>Accurate Orders</h3>
            <span>Precise orders with dedicated support</span>
        </div>
    </div>
</section>

<section class="product">
    <h2>Shop the Best Deals</h2>

   <div class="product_item_container">
        @foreach (var item in Model.Cage)
        {
            @if ((item.Status == (int)BusinessObject.Enums.CageStatus.Available) && count<5)
            {
                <div class="product_item">
                    @if (item.ImageUrl is null)
                    {
                        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" style="width: 100%; height: 250px" />
                    }
                    else
                    {
                        <img src="@item.ImageUrl" style="width: 100%; height: 250px" />
                    }
                    <h3>@item.CageName</h3>
                    <h5>@item.Description</h5>
                    <span>@item.CagePrice</span>
                    <button><a style="color: white; text-decoration: none" asp-page="/Cage/MakeOrder" asp-route-id="@item.CageId"><i class="fa-solid fa-plus me-2"></i>View</a></button>
                </div>
            }
            count++;
        }

   </div>
</section>

<section class="customization">
    <h2>
        Personalize Your Bird's Paradise
        @* <i class="fa-solid fa-pen me-2" style="font-size: 24px; color:white; opacity:0.5"></i> *@
    </h2>
    <p>Make your bird's home uniquely theirs. Choose from a range of colors, sizes, and accessories to create a one-of-a-kind bird cage tailored to your feathered friend's preferences</p>
    <button>Try now</button>
</section>
