@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Store</h1>
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
@foreach (var item in Model.Cage)
{
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        @if (Model.Cage[0].ImageUrl is null)
                        {
                            <img src="https://raw.githubusercontent.com/khoaLe12/Public-Image/main/cage_image.png" style="height: auto; width: 100%;"
                                 class="card-img-top">
                        }
                        else
                        {
                            @Html.DisplayNameFor(model => model.Cage[0].ImageUrl)
                        }
                        @* <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> *@
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.CageName)</h5>
                                <!-- Product price-->
                                @Html.DisplayFor(modelItem => item.CagePrice) đ
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a asp-page="./Cage/Details" asp-route-id="@item.CageId" class="btn btn-outline-dark mt-auto">View Detail</a></div>
                            <div class="text-center"><a asp-page="./Cage/MakeOrder" asp-route-id="@item.CageId" class="btn btn-outline-dark mt-auto">Add to cart</a></div>
                            @* <div class="text-center"><a asp-page-handler="addToCart" asp-route-id="@item.CageId" class="btn btn-outline-dark mt-auto">Add to cart</a></div> *@
                        </div>
                    </div>
                </div>
}
        </div>
    </div>
</section>
