@page
@model BirdCageShopRazorPage.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Order</h4>
<hr/>
<h3>Danh sách mặt hàng</h3>
<button class="btn btn-info">Thêm</button>

<div class="row">
    <div class="col-8">
        @foreach (var item in Model.Order.OrderDetails)
        {
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-1"></div> <!-- Empty first 1 column -->
                    <div class="col-md-10 card">
                        <div class="card-body row">
                            <a asp-page="./Details" asp-route-id="@item.CageId" style="text-decoration: none; color: inherit;" class="row">
                                <div class="col-md-4">
                                    @if (item.Cage?.ImageUrl is null)
                                    {
                                        <img src="https://raw.githubusercontent.com/khoaLe12/Public-Image/main/cage_image.png" style="height: auto; width: 100%;">
                                    }
                                    else
                                    {
                                        <img src="@item.Cage.ImageUrl" style="height: auto; width: 100%;">
                                    }
                                </div>
                                <div class="col-md-8">
                                    <label class="ml-3 mr-3">
                                        Tên lồng: @(item.Cage?.CageName ?? "Undefined")
                                    </label><br />
                                    <label class="ml-3 mr-3">
                                        Giá mỗi đơn vị: @item.Cage?.CagePrice
                                    </label><br />
                                    <label class="ml-3">
                                        Trạng thái: @(item.Cage?.Status ?? "")
                                    </label><br />
                                    <label>
                                        Số lượng đặt: @item.Quantity
                                    </label><br />
                                    <label>
                                        Tổng: @item.Price
                                    </label><br />
                                    <button class="btn btn-danger mt-3">Remove</button>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1"></div> <!-- Empty last 1 column -->
                </div>
            </div>
        }
    </div>

    <div class="col-4 mt-3">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.PaymentStatus)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Order.PaymentStatus)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShipDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Order.ShipDate)
        </dd>
    </dl>
</div>
</div>

<div>
    <form method="post">
        <button type="submit" asp-route-orderId="@Model.Order.OrderId" class="btn btn-success">Confirm</button>
    </form>
    <a asp-page="./Index" class="btn btn-primary mt-3">Back to List</a>
</div>
