@page
@model BirdCageShopRazorPage.Pages.Order.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="row">
    <div class="col-md-10 mx-3">
        <h1>Danh sách giỏ hàng</h1>

        @if (Model.Order.Count() == 0)
        {
            <h2 class="display-2 text-center fw-bold">Giỏ hàng trống</h2>
        }
    </div>

    <div class="col-md-2">
        @if (Model.Order.Where(o => new string("Waiting").Equals(o.Status)).Count() == 0)
        {
            <form action="/Order/Create" method="post">
                @Html.AntiForgeryToken()
                <button type="submit">Thêm giỏ hàng mới</button>
            </form>
        }
    </div>
</div>

@if (TempData["notification"] != null)
{
    <h3 style="color:green" class="text-center">@TempData["notification"]</h3>
}

<table class="table table-striped mx-3">
    <thead style="background-color: #B5DA98">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShipDate)
            </th>
            <th><div>Action</div></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                    @switch (item.Status!)
                    {
                        case "Undefined":
                            <span class="badge bg-dark text-white">@Html.DisplayFor(modelItem => item.Status)</span>
                            break;
                        case "Pending":
                            <span class="badge bg-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                            break;
                        case "Processing":
                            <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.Status)</span>
                            break;
                        case "Completed":
                            <span class="badge bg-success">@Html.DisplayFor(modelItem => item.Status)</span>
                            break;
                        case "Cancelled":
                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                            break;
                        case "Waiting":
                            <span class="badge bg-secondary">@Html.DisplayFor(modelItem => item.Status)</span>
                            break;
                    }
            </td>
            <td>
                    @switch (item.PaymentStatus!)
                    {
                        case "None":
                            <span class="badge bg-secondary">@Html.DisplayFor(modelItem => item.PaymentStatus)</span>
                            break;
                        case "Unpaid":
                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.PaymentStatus)</span>
                            break;
                        case "Paid":
                            <span class="badge bg-success">@Html.DisplayFor(modelItem => item.PaymentStatus)</span>
                            break;
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipDate)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.OrderId"><i class="fa fa-info" style="font-size: 24px;"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.OrderId"><i class="fa fa-trash" style="font-size: 24px;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .table-striped tbody tr:nth-child(even) {
        background-color: #C6ECBE;
    }
</style>
